<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Rainierland</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>http://www.rainierland.to/.+</string>
				<string>http://rainierland.to/.+</string>
			</array>
		</dict>
		<key>GoogleVideo</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>http://redirector.googlevideo.com/.+</string>
				<string>http://www.googlevideo.com/.+</string>
				<string>http://googlevideo.com/.+</string>
				<string>https://redirector.googlevideo.com/.+</string>
				<string>https://www.googlevideo.com/.+</string>
				<string>https://googlevideo.com/.+</string>
				<string>http://lh3.googleusercontent.com/.+</string>
				<string>http://www.googleusercontent.com/.+</string>
				<string>http://googleusercontent.com/.+</string>
				<string>https://lh3.googleusercontent.com/.+</string>
				<string>https://www.googleusercontent.com/.+</string>
				<string>https://googleusercontent.com/.+</string>
			</array>
		</dict>
		<key>Openload</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>http://openload.io/.+</string>
				<string>http://www.openload.io/.+</string>
				<string>https://openload.io/.+</string>
				<string>https://www.openload.io/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
